<div class="w-full h-full bg-pattern flex flex-col items-center justify-center p-4">
  <!-- Card container avec classes responsives -->
  <div @fadeInUp
    class="card overflow-hidden w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto border border-primary-500">
    <div class="p-4 sm:p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-36 sm:w-36" src="assets/img/logo/logo.png" />
      </div>
    </div>

    <div class="text-center mt-2 sm:mt-4">
      <h2 class="title m-0 text-xl sm:text-2xl">KomKom</h2>
      <h4 class="body-2 text-secondary m-0 text-sm sm:text-base">
        Connectez-vous avec vos identifiants, ci-dessous.
      </h4>
    </div>
    <div [formGroup]="form" class="p-4 sm:p-6 flex flex-col gap-3 sm:gap-4">
      <div class="flex flex-col">
        <!-- Champ Username -->
        <mat-form-field class="flex-1">
          <mat-label>Nom d'utilisateur</mat-label>
          <input formControlName="email" matInput required />
        </mat-form-field>

        <!-- Messages d'erreur pour email -->
        <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty)"
          class="text-red-500 font-medium text-xs sm:text-sm relative -mt-3">
          <div *ngIf="form.controls['email'].errors?.['required']">
            L'email est obligatoire
          </div>
          <div *ngIf="form.controls['email'].errors?.['minlength']">
            L'email doit comporter au moins 3 caractères
          </div>
          <div *ngIf="form.controls['email'].errors?.['maxlength']">
            L'email ne peut pas dépasser 50 caractères
          </div>
        </div>

        <!-- Champ Password -->
        <mat-form-field class="flex-1 mt-3 sm:mt-4">
          <mat-label>Mot de passe</mat-label>
          <input [type]="inputType" formControlName="password" matInput required />
          <button (click)="toggleVisibility()" mat-icon-button matIconSuffix
            matTooltip="Afficher/Masquer le mot de passe" type="button">
            <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
            <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
          </button>
        </mat-form-field>

        <!-- Messages d'erreur pour Password -->
        <div
          *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)"
          class="text-red-500 font-medium text-xs sm:text-sm relative -mt-3">
          <div *ngIf="form.controls['password'].errors?.['required']">
            Le mot de passe est obligatoire
          </div>
          <div *ngIf="form.controls['password'].errors?.['minlength']">
            Le mot de passe doit comporter minimum 8 caractères
          </div>
          <div *ngIf="form.controls['password'].errors?.['maxlength']">
            Le mot de passe ne doit pas dépasser 8 caractères
          </div>
        </div>
      </div>

      <div *ngIf="existErrorMessage" class="mt-4 p-4 text-red-800 bg-red-100 border border-red-600 rounded text-center">
        {{ errorMessage }}
      </div>
      <div class="flex flex-row items-center justify-between gap-2">
        <mat-checkbox class="caption text-xs sm:text-sm" formArrayName="rememberme" color="primary">Se souvenir de
          moi</mat-checkbox>
        <a [routerLink]="['/forgot-password']" class="caption text-xs sm:text-sm whitespace-nowrap">Mot de passe
          oublié?</a>
      </div>

      <button (click)="login()" color="primary" mat-raised-button type="button"
        [disabled]="form.invalid || isSubmitting" class="mt-2 sm:mt-4">
        <mat-icon svgIcon="mat:check_circle" *ngIf="!isSubmitting" class="mr-1"></mat-icon>
        <mat-icon *ngIf="isSubmitting" class="animate-spin m-2" svgIcon="mat:autorenew"></mat-icon>
        SE CONNECTER
      </button>

      <p class="text-secondary text-center text-xs sm:text-sm">
        <span>Orchestrez vos boutiques, maximisez vos résultats</span>
      </p>
    </div>
  </div>
</div>