<div class="w-full h-full bg-pattern flex flex-col items-center justify-center p-4">
  <div [@fadeInUp] class="card overflow-hidden w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto border border-primary-500">
    <mat-progress-bar class="overflow-hidden w-full" *ngIf="mainFrameLoading" mode="indeterminate"
      color="primary"></mat-progress-bar>
    <div class="p-4 sm:p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-36 sm:w-36" src="assets/img/logo/logo.png" />
      </div>
    </div>

    <div class="text-center mt-2 sm:mt-4">
      <h2 class="title m-0 text-xl sm:text-2xl">Réinitialiser le mot de passe</h2>
      <h4 class="body-2 text-secondary m-0 text-sm sm:text-base">
        Entrer le nouveau mot de passe
      </h4>
    </div>

    <div [formGroup]="resetForm" class="p-4 sm:p-6 flex flex-col gap-3 sm:gap-4">
      <div class="flex flex-col">
        <mat-form-field class="flex-1">
          <mat-label>E-Mail</mat-label>
          <mat-icon class="mr-2" matIconPrefix svgIcon="mat:mail"></mat-icon>
          <input formControlName="email" matInput required />
          <mat-error *ngIf="resetForm.controls['email'].hasError('required')">
            Entrer votre adresse email.
          </mat-error>
          <mat-error *ngIf="resetForm.controls['email'].hasError('email')">
            Adresse email invalide.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="flex flex-col">
        <mat-form-field class="flex-1">
          <mat-label>Mot de passe</mat-label>
          <mat-icon class="mr-2" matIconPrefix svgIcon="mat:lock"></mat-icon>
          <input [type]="inputType" formControlName="password" matInput required />
          <button (click)="toggleVisibility()" mat-icon-button matIconSuffix matTooltip="Afficher/Masquer le mot de passe" type="button">
            <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
            <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
          </button>
        </mat-form-field>

        <div
          *ngIf="resetForm.controls['password'].invalid && (resetForm.controls['password'].dirty || resetForm.controls['password'].touched)"
          class="text-red-500 font-medium text-xs sm:text-sm relative -mt-3">
          <div *ngIf="resetForm.controls['password'].errors?.['required']">
            Le mot de passe est obligatoire
          </div>
          <div *ngIf="resetForm.controls['password'].errors?.['minlength']">
            Le mot de passe doit comporter minimum 8 caractères
          </div>
        </div>
      </div>

      <div class="flex flex-col">
        <mat-form-field class="flex-1">
          <mat-label>Confirmer le mot de passe</mat-label>
          <mat-icon class="mr-2" matIconPrefix svgIcon="mat:lock"></mat-icon>
          <input [type]="inputType" formControlName="password_confirmation" matInput required />
        </mat-form-field>
      </div>

      <button (click)="onSubmit()" color="primary" mat-raised-button type="button"
        [disabled]="resetForm.invalid || isSubmitting" class="mt-2 sm:mt-4">
        <mat-icon svgIcon="mat:check_circle" *ngIf="!isSubmitting" class="mr-1"></mat-icon>
        <mat-icon *ngIf="isSubmitting" class="m-2">
          <mat-spinner diameter="18"></mat-spinner>
        </mat-icon>
        VALIDER
      </button>
    </div>
  </div>
</div>
