@import "~simplebar/dist/simplebar.css";
@import "~highlight.js/styles/androidstudio.css";
// Vex Core
@import "./@vex/styles/core";
@import 'ngx-toastr/toastr';


/* Conteneur des boutons */
.swal2-actions-custom {
  display: flex !important;
  justify-content: center !important;
  gap: 15px !important;
  margin-top: 20px !important;
}

/* Bouton Confirmer (Vert) */
.swal2-confirm-custom {
  background-color: #28a745 !important; /* Vert */
  color: white !important;
  padding: 10px 25px !important;
  border-radius: 6px !important;
  border: none !important;
  font-weight: 500 !important;
  cursor: pointer !important;
}

/* Bouton Annuler (Rouge) */
.swal2-cancel-custom {
  background-color: #dc3545 !important; /* Rouge */
  color: white !important;
  padding: 10px 25px !important;
  border-radius: 6px !important;
  border: none !important;
  font-weight: 500 !important;
  cursor: pointer !important;
}

